:root {
  --preto: #090753;
  --cinzaclaro: #f5ed04;
  --azulescuro: #1f7162;
}

header {
  background-color: var(--preto);
}

a:link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a:active {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

li {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

li ul {
  display: none;
}

li:hover ul {
  display: block;
  position: absolute;
  padding: 0px 40px 0px 0px;
  background-color: var(--preto)
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

li a:hover {
  background-color: #111;
}

/* unvisited link */
a.titulo:link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer
}

/* visited link */
a.titulo:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a.titulo:hover {
  color: rgb(105, 255, 230);
}

/* selected link */
a.titulo:active {
  color: rgb(255, 255, 255);
}

.button {
  background-color: transparent;
  border: 2px solid #e7e7e7;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Roboto slab";
  font-size: 20px;
}
.button2 {
  background-color: black;
  font-size: 14px;
  padding: 10px 30px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px
}

#citacoes {
  font-family: "Roboto slab", sans-serif;
  font-size: 20px;
}

#formulario {
  font-family: "Roboto slab";
  font-size: 15px;
  text-transform: uppercase;
}

#formulario_center {
  font-family: "Roboto slab";
  font-size: 15px;
  padding-top: 10%;
  padding-right: 45%;
  padding-left: 45%;
}

#abertura {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('Imagens/jovem\ rondon.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  text-align: center;
}

#titulo_principal {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-top: 20%
}

#subtitulo_principal {
  font-family: "Lora", serif;
  font-size: 30px;
  padding: 10px;
}

#fundo_azul {
  background-color: var(--azulescuro);
  color: white;
  text-align: center;
}

#titulo_destaque {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-top: 30px;
  letter-spacing: -1px;
  font-weight: lighter;
}

#texto_destaque {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 15%;
  padding-left: 15%;
  font-weight: lighter;
}

#destaques {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#texto_noticia {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

#destaque_especial {
  font-family: "Bebas Neue";
  font-size: 60px;
  margin-top: 20px;
}

#destaque_especial1 {
  font-family: "Bebas Neue";
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

#rodape {
  background-color: var(--cinzaclaro);
  color: rgb(0, 0, 0);
}

#footer {
  position:absolute;
  bottom:0; 
}

.grid {
	display: grid;
  padding: 100px;
}

.grid-template-columns-1 {
	grid-template-columns: 50% 50%;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'item1 item1 item1'
    'item2 item2 item2'
    'item3 item4 item5';
  gap: 20px;
  padding: 0px 200px 40px 200px;
}

.item10 {
  grid-area: item10;
}
.item20 {
  grid-area: item20;
  text-align: right;
}
.item30 {
  grid-area: item30;
  text-align: right;
}
.item40 {
  grid-area: item40;
  text-align: center;
}

.grid-container1 {
  display: grid;
  grid-template-areas:
    'item10 item10 item10'
    'item20 item30 item40';
  gap: 20px;
  padding: 0px 200px 40px 200px;
}